<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.Smbms_address_mapper">



    <!--实验三-->
    <!--1.通过 MyBatis 框架查询所有的地址信息列表，并将数据库查询结果通过 <resultMap>标签映射到实体类（Address）上，并进行测试和输出结果-->
    <resultMap id="AddressMap" type="com.edu.pojo.Address">
        <id column="id" property="id"/>
        <result column="contact" property="contactName"/>
        <result column="addressDesc" property="desc"/>
        <result column="postCode" property="post"/>
        <result column="tel" property="phone"/>
        <result column="userId" property="userId"/>
    </resultMap>

    <select id="findAddressAll" resultMap="AddressMap">
        select * from smbms_address
    </select>


    <select id="findAll" resultType="com.edu.pojo.Smbms_address">
        select * from smbms_address
    </select>

    <select id="findByProCode" resultType="com.edu.pojo.Smbms_provider" parameterType="string">
        select * from smbms_provider where proCode=#{str}
    </select>

</mapper>